{% extends "base.html" %}
{%load static%}

{% block content %}
   
<section>
    <form method="POST">
        {% csrf_token %}
        <div class="container mt-5 pt-5 mb-5">
            <h3>Create Activities</h3>
            <br>
            {% for form in data_form %}
            <div class="form-group">
                {{form.label}}
                {{form}}
            </div>
            {%endfor%}
            <br>
        <button class="btn btn-danger" type="Submit">Create</button>
    </div>
    </form>
</section>

    {% endblock content %}

     