{% extends "base.html" %}
{%load static%}

{% block content %}
   
<section>
    <div class="container mt-5 pt-5 mb-5">
        <h3>Activities</h3>
        <div class="card" style="width: 60rem;">
            {%for p in pos%}
            <div class="card-body">
              <h5 class="card-title">{{p.nama}}</h5>
              {%for peserta in p.peserta_set.all%}
              <p class="card-text">{{peserta.nama}}</p>
              {%endfor%}
              <a href="{%url 'story6:joinPeserta' p_id=p.id %}" class="btn btn-danger" >Join</a>
            </div>
            {%endfor%}
          </div>
          <br>
          <a class= "btn btn-danger" href="{%url 'story6:addKegiatan'%}">Add new activity</a>
    </div>
</section>

    {% endblock content %}

     