.a-container{
  max-width:600px;
  display: block;
  margin:100px auto;
}

.accordion-container {
  margin: 0 0 10px;
}
.accordion-toggle {
  position: relative;
  display: block;
  padding: 10px;
  font-size: 1.5em;
  font-weight: 300;
  background: #f2c7c7;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.accordion-toggle.open,.accordion-toggle:hover {
  background: rgb(103, 60, 60);
  color: rgb(255, 246, 246);
  text-decoration: none;
}

.accordion-content {
  display: none;
  padding: 20px;
  overflow: auto;
  font-size: large;
  
}

.accordion-toggle .but {
  text-align: end;
  width: 10em; float: right;
  position: relative;
  text-decoration: none;
}

.accordion-toggle{
  text-align: start;
}
.accordion-content{
  overflow: hidden;
}

.active .up, .active .down {
  background-color: #fff;
  color: #555;
  text-decoration: none;
}

@media only screen and (max-device-width: 500px) {
  .a-container{
    width: 300px;
  }

}