{% extends "base.html" %}
{%load static%}


{% block header %}
<section class="banner">
  <div class="container">
    <div class="media ">
      <img src="{%static 'home/icaa.jpeg' %}" width="65%">
      <div class="media-body align-self-center mr-3" ;>
        <h1 class="mt-0">Hello</h1>
        <h1 class="mt-0">I'm Etya Resa</h1>
        <p>A student of Computer science</p>
      </div>
    </div>
  </div>
</section>
{% endblock header %}


{% block content %}
<section id="About" style="background-color: #f0d7d7;">
  <div class="container">
    <div class="row mb-5 pt-5">
      <div class="col text-center">
        <h1>About Me</h1>
      </div>
    </div>

    <div class="row justify-content-center ">
      <div class="col-md-5">
        <h5 class="text-center font-weight-normal">Personal Info</h5>
        <br>
        <p>Name : Etya Resa Fatma</p>
        <p>NPM : 1906293026</p>
        <p>Batch : Maung 2019</p>
        <p>Major : Computer Science</p>
        <p>University: University of Indonesia</p>
        <p>I'm an technnology enthusiast. I love to learn new things. Now, I'm at my 3rd semester as an undergraduate
          student of Computer Science at University of Indonesia. </p>
      </div>
      <div class="col-md-5 ">
        <h5 class="text-center font-weight-normal">Educational Background</h5>
        <br>
        <ul class="school">
          <li>
            <p>University of Indonesia (2019 - now)</p>
            <p>Depok, West Java, Indonesia</p>
          </li>
          <li>
            <p>SMAN 1 Bukittinggi (2016 - 2019)</p>
            <p>Bukittinggi, West Sumatera, Indonesia</p>
          </li>
          <li>
            <p>SMP N 1 Baso (2013 - 2016)</p>
            <p>Baso, West Sumatera, Indonesia</p>
          </li>
          <li>
            <p>SDN 01 Baringin Anam (2007 - 2013)</p>
            <p>Baso, West Sumatera, Indonesia</p>
          </li>
        </ul>
      </div>
    </div>
</section>

{% endblock content %}

