{% extends "base.html" %}
{%load static%}

{% block content %}

<style>
    th, td{
        border: 1px solid black;
        padding: 5px;
    }
    th{
        background-color: rgb(103, 162, 170);
        color: white;
    }
</style>

<section>
    <h1 style="text-align: center; margin-bottom: 3%;margin-top: 3%; padding-top: 50px;"> S e a r c h Y o u r B o o k H e r e!</h1>
    <input id="keyword" placeholder="Title or Author" style=" align-items: center; width: 50%;height: 35px; margin-left: 26%; margin-bottom: 2%;">
    <table id="daftar_isi" style="text-align: center; margin: auto;"></table>
</section>

{% endblock content %}

