body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: Lucida Console ;
  font-size: 20px;
}

ol {
    font-family: Lucida Console ;
    font-size: 20px;
}