{% extends "base.html" %}
{%load static%}

{% block content %}
<section >
  <h1 style="position: relative; text-align: center; padding-top: 50px;">H E L L O ! ! </h1>

  <div class="a-container">
    <div class="accordion-container">
      <a href="#" class="accordion-toggle">Activity
        <div class="but">
          <button class="up"> ^ </button>
          <button class="down"> v </button>
        </div>
      </a>
      <div class="accordion-content">
        Just study, eat and sleep
      </div>
    </div>

    <div class="accordion-container">
      <a href="#" class="accordion-toggle">Experience
        <div class="but">
          <button class="up"> ^ </button>
          <button class="down"> v </button>
        </div>
      </a>
      <div class="accordion-content">
        Staff of Human Resource Department DPM Fasilkom UI
      </div>
    </div>

    <div class="accordion-container">
      <a href="#" class="accordion-toggle">Achievement
        <div class="but">
            <button class="up"> ^ </button>
            <button class="down"> v </button>
        </div>
      </a>
      <div class="accordion-content">
        Cooming soon
      </div>
    </div>

    <div class="accordion-container">
      <a href="#" class="accordion-toggle">Click me
        <div class="but">
          <button class="up"> ^ </button>
          <button class="down"> v </button>
      </div>
      </a>
      <div class="accordion-content">
        Don't forget to be happy ^_^
      </div>
    </div>
  </div>
</section>



{% endblock content %}