{%load static%}
<footer style="background-color: #eeb2b2;">
  <div class="row">
      <div class="col text-center ">
        <p>Copyright &copy; 2020 Etya Resa Fatma</p>
      </div>
    </div>
</footer>