{%load static%}
<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #F5B5B4;">
    <div class="container">
      <a class="navbar-brand" href="#">Etya Resa</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/exp">Experience</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Courses
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/matkul">Create</a>
              <a class="dropdown-item" href="/matkul/data">List</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Story
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/story1">Story1</a>
              <a class="dropdown-item" href="/story6">Story6</a>
              <a class="dropdown-item" href="/story7">Story7</a>
              <a class="dropdown-item" href="/story8">Story8</a>
              <a class="dropdown-item" href="/story9/login">Story9</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>

          {% if user.is_authenticated %}
          <li class="nav-item">
          <a href="{% url 'story9:logoutUser' %}" class="nav-link">Logout</a>
          </li>
          <li class="nav-item">
            <a href="/story9/login/halo" class="nav-link">{{user.username}}</a>
          </li>
          {%endif%}
          
      </div>
    </div>
  </nav>