{% extends "base.html" %}
{%load static%}

{% block content %}
   <div style="background-color:lightblue ;">
    <h1>Profile Saya</h1>
    <img style="width: 25%;" src="{% static 'homeprofile/Abc.png' %}" alt=”foto pribadi”>
    <p>Nama          : Etya Resa Fatma</p>
    <p>NPM           : 1906293026</p>
    <p>Angkatan      : 2019</p>
    <p>Hobi          : Nonton Youtube, baca novel</p>
    <p>Deskripsi     : Sekarang saya sedang menempuh pendidikan di Fasilkom UI </p>
    <p>Tempat Kuliah : Universitas Indonesia</p>
    <p>Riwayat pendidikan :
        <ol>
            <li>SDN 01 Baringin Anam Baso</li>
            <li>SMP N 1 Baso</li>
            <li>SMA N 1 Bukittinggi</li>
            <li>Universitas Indonesia</li>
        </ol>
    </p>
    <p>Media sosial: <a target="blank" href="https://www.instagram.com/etyaresa/">(ig)etyaresa</a></p>
  
   </div>
                   
    {% endblock content %}

     
