{% extends "base.html" %}
{%load static%}


{% block content %}
  <section class="kontak"  >
    <div class="container">

      <div class="row mb-5 pt-5 mt-5" >
        <div class="col text-center">
          <h1 >Contact me at</h1>
        </div>
      </div>

      <div class="row justify-content-center ">
        <div class="col-md-4">
          <a href="https://mailto:etyaresa@gmail.com"><img src="{%static 'kontak/mail.svg'%}" width="100px" ></a>
          <div class="col-md-4">
            <h4 >etyaresa@gmail.com</h4>
          </div>
        </div>
      </div>

      <div class="row justify-content-center ">
        <div class="col-md-4">
          <a href="https://instagram.com/etyaresa"><img src="{% static 'kontak/instagram.svg'%}" width="100px"></a>
          <div class="col-md-4">
            <h4  >etyaresa</h4>
          </div>
        </div>
      </div>

      <div class="row justify-content-center ">
        <div class="col-md-4">
            <img src="{% static 'kontak/phone.svg'%}" width="100px">
          <div class="col-md-4">
            <h4 >081374279325</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock content %}
