{% extends "base.html" %}
{%load static%}

{% block content %}
   
<section>
    <div class="container mt-5 pt-5 mb-5">
        <h3>My Courses</h3>
        <br>
        <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Course</th>
                <th scope="col">Lecturer</th>
                <th scope="col">SKS</th>
                <th scope="col">Description</th>
                <th scope="col">Semester</th>
                <th scope="col">Classroom</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>

                {%for pos in posts%}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{pos.nama_mata_kuliah}}</td>
                    <td>{{pos.dosen_pengajar}}</td>
                    <td>{{pos.jumlah_sks}}</td>
                    <td>{{pos.deskripsi_mata_kuliah}}</td>
                    <td>{{pos.semester_tahun}}</td>
                    <td>{{pos.kelas}}</td>
                    <td><a class="btn btn-danger" href="{% url 'delete' pos.id %}">Delete</a></td>
                  </tr>
                {%endfor%} 

            </tbody>
          </table>
          <br>
         <a class= "btn btn-danger" href="create">Add</a>
    </div>
</section>

    {% endblock content %}

     