{% load static%}
<!doctype html>
<html lang="en">

<head>
  {% include "snippets/style.html"%}
 

  <title>Etya Resa</title>
</head>



<body class="mt-5">

  {% include "snippets/navbar.html" %}

  {% block header %}

  {% endblock header %}

  {% block content %}

  {% endblock content %}

  {% include "snippets/footer.html" %}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  {% include "snippets/script.html" %}
</body>

</html>