{% extends "base.html" %}
{%load static%}


{% block content %}
   
      <section class="experience">
        <div class="container">
           <div class="row mb-5 pt-5"> 
                <div class="col text-center">
                    <h1>Experiences</h1>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md">
                  <!-- <h3>Organization Experience</h3> -->
                    <div class="card">
                        <img src="{% static 'exp/dpm.jpg'%}" class="card-img-top" >
                        <div class="card-body">
                          <h5>DPM Fasilkom UI</h5>
                          <p>Staff of Human Resource Department <br> 2020</p>
                        </div>
                    </div>
                </div>

                <div class="col-md">
                  <!-- <h3>Committee Experience</h3> -->
                    <div class="card">
                        <img src="{% static 'exp/imami.png'%}" class="card-img-top" >
                        <div class="card-body">
                          <h5>KGTK IMAMI UI</h5>
                          <p>Staff of Liaison Officer <br> 2020</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md">
                  <!-- <h3>Other Experience</h3> -->
                    <div class="card">
                        <img src="{% static 'exp/kbkm.png'%}" class="card-img-top">
                        <div class="card-body">
                          <h5>KBKM</h5>
                          <p>Participant <br> 2020</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% endblock content %}

     