{% extends "base.html" %}
{%load static%}

{% block content %}

<section>
  <div class="container">
    <h1 style="position: relative; text-align: center; padding-top: 50px;">Hello {{ user.username}} !! </h1>
    <img src="{% static 'wfh_7.svg' %}" style="width: 70%; margin-left: 150px;">
  </div>
</section>

{% endblock content %}