{% extends "base.html" %}
{%load static%}

{% block content %}

<section>
  <div class="container">
    <div class="d-flex justify-content-center h-100 " style="padding-top: 50px">
      <div class="user_card">

        <div class="d-flex justify-content-center">
          <h3 id="form-title">LOGIN</h3>
        </div>

        <div class="d-flex justify-content-center form_container">
          <form method="POST" action="">
            {%csrf_token%}
              
            <div class="input-group mb-3">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input type="text" name="username" placeholder="Username..." class="form-control">
            </div>

            <div class="input-group mb-2">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
                <input type="password" name="password" placeholder="Password..." class="form-control" >
            </div>

            {% for message in messages %}
            {% if message.tags == 'success' %}
              <div style="color:black;" role="alert">
                {{ message }}
              </div>
            {% endif %}
            {% if message.tags == 'error' %}
              <div style="color:black;;" role="alert">
                {{ message }}
              </div>
            {% endif %}
            {% endfor %}
  
            <div class="d-flex justify-content-center mt-3 login_container">
              <input class="btn login_btn" type="submit" value="Login">
            </div>
          </form>
        </div>
      
        <div class="mt-4">
          <div class="d-flex justify-content-center links">
            Don't have an account? <a href="{% url 'story9:register'%}" class="ml-2" style="color: white;">Sign Up</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

{% endblock content %}