{% extends "base.html" %}
{%load static%}

{% block content %}

<section>
<div class="container">
    <div class="d-flex justify-content-center h-100" style="padding-top: 50px">
		<div class="user_card">
			<div class="d-flex justify-content-center">
				<h3 id="form-title">REGISTER ACCOUNT</h3>
			</div>		
			
			<div class="d-flex justify-content-center form_container">
				<form method="POST" action="">
					{%csrf_token%}
					<div class="input-group mb-2">
						<div class="input-group-append">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" name="username" placeholder="Username" class="form-control">
					</div>
            
					<div class="input-group mb-2">
						<div class="input-group-append">
							<span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
						</div>
						<input type="email" name="email" placeholder="Email" class="form-control">
					</div>
            
					<div class="input-group mb-2">
						<div class="input-group-append">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" name="password1" placeholder="Password" class="form-control">
					</div>
            
					<div class="input-group mb-2">
						<div class="input-group-append">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" name="password2" placeholder="Confirm password" class="form-control">
					</div>
            
					<div style="color:black;" role="alert">
					{{form.username.errors}}
					{{form.email.errors}}
					{{form.password1.errors}}
					{{form.password2.errors}}
					</div>

					<div class="d-flex justify-content-center mt-3 login_container">
						<input class="btn login_btn" type="submit" value="register">
					</div>
				</form>
			</div>
		
			<div class="mt-4">
				<div class="d-flex justify-content-center links">
					Already have an account? <a href="{% url 'story9:loginUser'%}" class="ml-2" style="text-decoration: none; color: rgb(255, 255, 255);">Login</a>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>
</section>
  
{% endblock content %}